<div class="app_header">
    {%- if let Some(name) = name.get() -%}<div class="name">{{ name }}</div>{%- endif -%}
</div>
{%- if let Some(wrapper_url) = wrapper_url.get() -%}<a href="{{ wrapper_url }}">{%- endif -%}
    {%- if self.has_footer() -%}
    <div class="app_footer">
        {%- if let Some(title) = title.get() -%}<div class="caption">{{ title }}</div>{%- endif -%}
        {%- if let Some(footer_url) = footer_url.get() -%}<div class="subcaption">{{ footer_url }}</div>{%- endif -%}
    </div>
    {%- endif -%}
    {%- if wrapper_url.get().is_some() -%}
</a>{%- endif -%}