<div class="app_header">
    {%- if let Some(track_name) = track_name -%}<div class="name">{{ track_name }}</div>{%- endif -%}
    {%- if let Some(preview) = preview -%}<audio controls src="{{ preview }}"> </audio>{%- endif -%}
    {%- if let Some(lyrics) = lyrics -%}<div class="ldtext">{%- for line in lyrics -%}<p>{{ line }}</p>{%- endfor -%}
    </div>{%- endif -%}
</div>
{%- if let Some(url) = url -%}<a href="{{ url }}">{%- endif -%}
    {%- if artist.is_some() || album.is_some() -%}
    <div class="app_footer">
        {%- if let Some(artist) = artist -%}<div class="caption">{{ artist }}</div>{%- endif -%}
        {%- if let Some(album) = album -%}<div class="subcaption">{{ album }}</div>{%- endif -%}
    </div>
    {%- endif -%}
    {%- if url.is_some() -%}
</a>{%- endif -%}