{%- if let Some(url) = url.get() -%}<a href="{{ url }}">{%- endif -%}
    <div class="app_header">
        {%- if let Some(place_name) = place_name.get() -%}<div class="name">{{ place_name }}</div>
        {%- else if let Some(url) = url.get() -%}<div class="name">{{ url }}</div>{%- endif -%}
        {%- if let Some(name) = name.get() -%}<div class="image_title">{{ name }}</div>{%- endif -%}
    </div>
    {%- if self.has_footer() -%}
    <div class="app_footer">
        {%- if let Some(address) = address.get() -%}<div class="caption">{{ address }}</div>{%- endif -%}
        {%- if let Some(postal_code) = postal_code.get() -%}<div class="trailing_caption">{{ postal_code }}</div>{%-
        endif -%}
        {%- if let Some(country) = country.get() -%}<div class="subcaption">{{ country }}</div>{%- endif -%}
        {%- if let Some(sub_administrative_area) = sub_administrative_area.get() -%}<div class="trailing_subcaption">{{
            sub_administrative_area }}</div>{%- endif -%}
    </div>
    {%- endif -%}
    {%- if url.get().is_some() -%}
</a>{%- endif -%}